body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
/* main.css */
.textBoxdiv {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .textBoxdiv input[type="text"],
  .textBoxdiv input[type="password"] {
    width: 300px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
  }
  .loginBtn {
    width: 200px; /* Set the width to your desired value */
    height: 40px; /* Set the height to your desired value */
  }
  
